@import "../../styles/variables.scss";

.input {
  padding: 11px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: $fontNormal;
  font-size: 19px;
  line-height: 22px;

  @include mobileMedia() {
    padding: 9px;
    font-size: 16px;
    line-height: 18px;
  }
}

.dark {
  background-color: $darkGreyColor;
  border: solid 1px $neroColor;
  color: $whiteColor;

  &:focus {
    outline: none;
    border: solid 1px $greyColor;
    background-color: $dimGreyColor;
  }
}

.light {
  background-color: $whiteSmokeColor;
  border: 1px solid $silverColor;
}
