.input {
  padding: 9px 137px 9px 9px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: solid 1px #151515;
  background-color: #555;
  color: #fff;
}

.input:focus {
  outline: none;
  border: solid 1px #888;
  background-color: #6a6a6a;
}
