@import "../../styles/variables.scss";

.container {
  width: 170px;
  @include mobileMedia() {
    display: none;
  }
}

.title {
  color: $whiteColor;
  font-family: $fontBold;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 13px;
}

.date {
  color: $lightGreyColor;
  font-size: 13px;
  line-height: 18px;
}

.text {
  color: $lightGreyColor;
  font-size: 13px;
  line-height: 18px;
}
