// font-families
$fontBold: "HelveticaNeueBold";
$fontNormal: "HelveticaNeue";

// colors
$lightGreyColor: #aaa;
$darkGreyColor: #555;
$primaryColor: #4894d4;
$secondaryColor: #999;

//breakpoints
$mobileBreakpoint: 450px;

//the media mixin
@mixin media() {
  @media (max-width: $mobileBreakpoint) {
    @content;
  }
}
