@import "../../styles/variables.scss";

.container {
  display: flex;
  position: relative;
  width: 100%;
}

.input {
  padding-right: 50px;
}

.asideText {
  position: absolute;
  cursor: pointer;
  right: 13px;
  top: 14px;
  font-size: 12px;
  line-height: 14px;
  color: $lightGreyColor;
}
