@import '../../styles/variables.scss';

.container {
  position: relative;
}

.close {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 20px;
  height: 20px;
  background-color: $darkGreyColor;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 9px;
  top: 3px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
