@import "../../styles/variables.scss";

.container {
  position: relative;
}

.content {
  position: absolute;
  top: 40px;
  left: 50%;
  right: auto;
  bottom: auto;
  border: none;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 3px;
  outline: none;
  padding: 0px;
  margin-right: -50%;
  width: 600px;
  transform: translate(-50%, 0px);
  @include mobileMedia() {
    width: 337px;
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 20px;
  height: 20px;
  background-color: $darkGreyColor;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 9px;
  top: 3px;
  content: " ";
  height: 14px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
